@model IEnumerable<Lab6.Models.Addresses>

<h1>Список адрес</h1>

<table class="table">
    <thead>
    <tr>
        <th>Line 1</th>
        <th>Line 2</th>
        <th>Line3</th>
        <th>City</th>
        <th>ZipPostcode</th>
        <th>StateProvinceCountry</th>
        <th>Country</th>
        <th>OtherDetails</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var address in Model)
    {
        <tr>
            <td>@address.Line1</td>
            <td>@address.Line2</td>
            <td>@address.Line3</td>
            <td>@address.City</td>
            <td>@address.ZipPostcode</td>
            <td>@address.StateProvinceCountry</td>
            <td>@address.Country</td>
            <td>@address.OtherDetails</td>
            
        </tr>
    }
    </tbody>
</table>